<!DOCTYPE html>
<html>
    <head>
        <title>
            My page!
        </title>
    </head>
    <body>
        <h1>My website!</h1>
        <h3>Select first currency:</h3>
        <form action="{% url 'output' %}" method="post">
            {% csrf_token %}
            <select name="first">
                {% for key in keys %}
                <option value = "{{ key }}"> {{ key }}</option>
                {% endfor %}
            </select>
            <h3>Select second currency:</h3>
            <select name="second">
                {% for key in keys %}
                <option value = "{{ key }}"> {{ key }}</option>
                {% endfor %}
            </select>
            <button type="submit">Move on</button>
        </form>
        
    </body>
</html>